{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="spaces">
            <p><h2>Главная</h2></p>
            <label>Выберите марку: </label>
            <select name="mark">
                <option disabled selected value="">--------------</option>
                {% for mark in marks %}
                <option value={{ mark }}>{{ mark }}</option>
                {% endfor %}
            </select>
            <button class="button" type="submit">Показать</button>
        </div>
        <br>
        <div class="spaces">
            <p class="descrip">Модели авто марки: <i>{{ name }}</i></p>
            <ul>
                {% for model in auto_models %}
                    <li>{{ model }}</li>
                {% endfor %}
            </ul>
        </div>
    </form>
</body>
</html>