<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <p>Главная</p>
            <select name="mark">
                {% for mark in marks %}
                <option value={{ mark }}>{{ mark }}</option>
                {% endfor %}
            </select>
            <button type="submit">Показать</button>
        </div>
        <div>
            <ul>
                {% for model in auto_models %}
                    <li>{{ model }}</li>
                {% endfor %}
            </ul>
        </div>
    </form>
</body>
</html>